<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>crave stop app</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script type="text/javascript">
 var fatsecret = {
  variables: {

    rootUrl: 'http://platform.fatsecret.com/js/Default.aspx?pg=',

    splitter: 'fs_f02cad428ce04726af629ca158cfb3db',
    key: '05db11a0bba740389461cfbd45571f97',
    appTitle: 'My Diet',
    navOptions: 31,

    autoLoad: true,
    autoTemplate: true
  },

  setCookie: function(name, value){
    var date = new Date();
    date.setTime(date.getTime()+(10*365*24*60*60*1000));
    document.cookie = name + '=' + encodeURIComponent(value) + ';expires=' + date.toUTCString() + ';path=/';
  },

  doWrite: function(url, isCss){
    var h = isCss ? '<link type="text/css" rel="stylesheet"' : '<script type="text/javascript"';
    h += (isCss ? ' href' : ' src') + '="' + url;
    h += isCss ? '"/>' : '"></script>';
    document.write(h);
  },

  start: function(){
    this.doWrite('http://platform.fatsecret.com/js/static/css/all.css', true);


      this.doWrite('http://platform.fatsecret.com/js/static/css/themes/blue.css', true);


    this.doWrite('http://platform.fatsecret.com/js/static/script/final.js');





  }
};
fatsecret.start();


  document.write('<div class="fatsecret_container" id="fatsecret_container"></div>');

  </script>
</head>
<body>
  <div id="my_container" class="fatsecret_container" ></div>
  <script>
    fatsecret.setContainer("my_container");
    fatsecret.setCanvas("home");
  </script>
</body>
</html>
