

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/themes/k5/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/themes/k5/css/k5.css" />
<link rel="stylesheet" type="text/css" href="/themes/k5/datepicker/css/datepicker.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="/themes/k5/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/themes/k5/flashuploader/swfobject.js"></script>
<script type="text/javascript" src="/themes/k5/js/k5.js"></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js></script>
<script type="text/javascript" src=/themes/k5/js/coffee-script.js></script>
<script type="text/coffeescript" src=/themes/k5/js/jsonProcess.v2.coffee></script>
<title>K5 Website Administrator - Add Project</title>

</head>

<body id=list-project-wrap>

<div>
	<div id="yw0" class="navbar">
<div class="navbar-inner navbar-fixed-top">
<div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="/index.php?r=admin"><strong>K5 Website Administrator</strong></a>
<div class="nav-collapse">
<ul class="nav pull-right">
<li><a href="/index.php?r=admin/default/logout">Logout (admin)</a></li>
</ul></div>
</div>
</div>
</div>
	<div style="margin-top: 40px;clear: left;">
		<ul class="breadcrumbs breadcrumb">
<li><a href="index.php?r=/admin">Home</a> <span class="divider">/</span></li>
<li><a href="/index.php?r=admin/project/index">Projects</a> <span class="divider">/</span></li>
<li><span>Add</span></li>
</ul>	</div>
		<div id="sidebar" class="span3">
</div> <!--sidebar-->

<div id="rightside" class="span9">


<legend>List clients</legend>
<ul id=list-client></ul>



</div> <!--rightside-->
</div>
</body>
</html>
