/* navigation */
#fatsecret_nav td
{

}
	
.fatsecret_nav_highlight
{
	background-color: #BFDBE7;


	text-indent: 570px;
   	width: 253px;
   	height: 253px;
  	background: url(http://designedbyjay.com/cravestop_assets/images/logoTransparentBg.png)  
  	no-repeat; 
}

/* canvas */
.fatsecret_container
{

}

.fatsecret_foodsearch_results{
								margin-left: 82px;
								margin-top: 150px;
								width: 400px;
							  }

.fatsecret_container a .fatsecret_foodsearch_result_highlight {
										margin-top: 50px;
										padding: 20px auto;
   									   }


.fatsecret_container input.fatsecret_button
{

	background-color: #fff;
	clear: right;

}

.fatsecret_container .fatsecret_borderbottom
{

}

/* footer */
.fatsecret_footer
{
	background-color: #D8ECF7;
	padding: 10px 0 10px 2.5%;
	margin-top: 5px;
}

/* home */
.fatsecret_home_summary
{

}

/* weight history */
.fatsecret_weighin_graph
{

}

/* calendar */
.fatsecret_calendar, .fatsecret_calendar tr td
{

}

.fatsecret_days_row td
{
	background-color: #85AAB8;
	color: #FFF;
}

.fatsecret_day_number
{
	color: #558EA4;
}