
	<div class="well sidebar-nav"><ul class="nav nav-list" id="yw1">
<li class="nav-header"><span>Projects</span></li><li><a href="/listProject"><i class="icon-user"></i> Manage</a></li>
<li><a href="/addProject"><i class="icon-th"></i> Add</a></li>

<li class="nav-header"><span>Pages</span></li><li><a href="index.php?r=/admin/project/manage"><i class="icon-user"></i> Manage</a></li>

<li class="nav-header"><span>Clients</span></li>
<li><a href="/listClient"><i class="icon-user"></i> Manage</a></li>
<li><a href="/addClient"><i class="icon-th"></i> Add</a></li>

<li class="nav-header"><span>Work Categories</span></li><li><a href="index.php?r=/admin/workcategory/manage"><i class="icon-user"></i> Manage</a></li>
<li><a href="index.php?r=/admin/workcategory/add"><i class="icon-th"></i> Add</a></li>

<li class="nav-header"><span>Service Categories</span></li><li><a href="index.php?r=/admin/servicecategory/manage"><i class="icon-user"></i> Manage</a></li>
<li><a href="index.php?r=/admin/servicecategory/add"><i class="icon-th"></i> Add</a></li>

</ul></div>
